@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
}

.btn-nav:hover {
    color:#c93012;
    transition:all 0.3s; 
}

.blackshadow {
    box-shadow: 4px 4px 0 #000;
}

.whiteshadow {
    box-shadow: 4px 4px 0 #fff;
}